/* *{
    margin-left: auto;
    margin-right: auto;

} */
nav{
    text-align: center;
}

a{
    font-size: 1.1rem;
    transition: all .3s;
}

li{
    margin-left: 2.5rem;
}

a:hover{
    font-size: 1.2rem;
}

