<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <img class="imagen" src="assets/imgs/ada.png" width="8%;" height="8%;" alt="logo empresa ADA S.A.S">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="plan-mejora-organizacional">Plan de mejora organizacional</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="vista-planeacion-ejecucion">Planeación de la mejora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="seguimiento-mejora">Seguimiento de la mejora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="evaluacion-implementacion">Evaluación de la implementación</a>
            </li>
        </ul>
    </div>
</nav>